
<% if user_signed_in? %>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <!-- <th>First name</th> -->
      <!-- <th>Last name</th> -->
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gpa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <!-- <td><%= friend.first_name %></td> -->
        <!-- <td><%= friend.last_name %></td> -->
        <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend%>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.gpa %></td>
        <!-- <td><%= friend.user_id %></td> -->
        <!-- <td><%= link_to 'Show', friend %></td> -->
        <!-- <td><%= link_to 'Edit', edit_friend_path(friend) %></td> -->
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>


<% else %>
<h1>Hello world!</h1>
This is my first rails webpage...
<% end %>